* {
  box-sizing: border-box;
}

.text-data {
  font-size: 1.5em;
}

.span-waiting {
  opacity: 0.5;
}

.span-next {
  opacity: 1;
}

.span-wrong {
  background-color: red;
  color: white;
}

.span-correct {
  background-color: darkolivegreen;
  color: white;
}

#results-table {
  display: none;
}

#winner {
  display: none;
}

.disconnected {
  background-color: red;
}

#commentator {
  display: none;
  justify-content: center;
}

#reload {
  color: lightgray;
  font-size: 0.9em;
}

#commentator span {
  padding: 5px;
  align-self: center;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid lightgray;
  font-size: 1em;
}

#commentator-avatar {
  background: url('../images/commentator.png');
  background-position: center;
  background-size: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid lightgray;
}